<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610337322480-1r75roqe6cjjq48psj77hcb9rkdb4pr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610337322480-1r75roqe6cjjq48psj77hcb9rkdb4pr7</string>
	<key>API_KEY</key>
	<string>AIzaSyAHKsb5JMdOytwJxcu2g0WbnmrRq9SF7_A</string>
	<key>GCM_SENDER_ID</key>
	<string>610337322480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ankelny</string>
	<key>PROJECT_ID</key>
	<string>ankelny-5a404</string>
	<key>STORAGE_BUCKET</key>
	<string>ankelny-5a404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610337322480:ios:8f8bfb3710afa01d</string>
	<key>DATABASE_URL</key>
	<string>https://ankelny-5a404.firebaseio.com</string>
</dict>
</plist>